{% extends "github/base_github.html" %}

{% block title %}{{ object.login }}{% endblock %}

{% block content %}
  <h1>{{ object.login }}</h1>

  <h3>Projects</h3>
  <ul>
    {% for project in object.project_set.all %}
      <li><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></li>
    {% endfor %}
  </ul>
  
  <h3>Contributed to</h3>
  <ul>
  {% for project in object.contributed_to %}
    <li><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></li>
  {% endfor %}
  </ul>
{% endblock %}
